* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 992px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 3 - 10px);
    background-color: rgb(104, 181, 206);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}